@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  background: #cfe8ff;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content:flex-end;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin-left: 20px; /* Reduce the margin for a more compact look */
}
.navbar li:last-child {
  margin-right: 80px; /* Remove margin from the last li */
}
.navbar a {
  text-decoration: none;
  color: #100142;
  padding: 5px 10px;
  font-size: 16px; /* Adjust font size */
  font-weight: 500;
  border-radius: 4px; /* Add border radius for a button-like appearance */
  transition: background-color 0.3s, color 0.3s; /* Add transition effects */
}

.navbar a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background: linear-gradient(92.14deg, #0085ff -97.19%, #ff00f5 99.81%);
  border-radius: 2px; /* Adjust border radius */
  transition: width 0.3s;
}

.navbar a:hover::before,
.navbar a.active::before {
  width: 100%;
}

.home {
  min-height: 100%;
}
.home .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 50%;
  margin-top: 200px;
  text-align: center;
}
.home .content h1 {
  font-size: 50px;
  background: linear-gradient(93.22deg, #0085ff -16.13%, #ff00f5 119.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 30px 0;
  margin-bottom: 15px;
}
.home .content img {
  margin-bottom: -40px;
  width: 80px;
}
.home .content p {
  margin-top: -5px;
  color: #100142;
  font-weight: 500;
  font-size: 120%;
}
.home .content a {
  background: linear-gradient(97.6deg, #ff00f5 -15.57%, #0085ff 135.36%);
  box-shadow: inset 10px 8px 10px rgba(0, 0, 0, 0.25);
  border-radius: 140px;
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 150px;
  height: 30px;
  margin-top: 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 95%;
}

.about {
  background: #ffffff;
  padding: 50px;
  margin-top: 200px;
  height: 100vh;
}

.about .teamtext {
  margin-bottom: 60px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  background: linear-gradient(91.02deg, #ff00f5 -1.44%, #0085ff 92.73%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about .button {
  padding: 7px;
  border-radius: 20px;
  background-color: white;
  border: 1px solid black;
  font-size: 13px;
  box-shadow: 0px 30px 40px -20px hsl(229, 6%, 66%);
}


.about .imag,
.about .imag2,
.about .imag3,
.about .imag4 {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .imag {
  background-color: hsl(180, 62%, 55%);
}

.about .imag2 {
  background-color: hsl(0, 78%, 62%);
}

.about .imag3 {
  background-color: hsl(212, 86%, 64%);
}

.about .imag4 {
  background-color: hsl(34, 97%, 64%);
}
.about .box {
  border-radius: 20px;
  box-shadow: 0px 30px 40px -20px hsl(229, 6%, 66%);
  padding: 20px;
  margin: 15px;
  background-color: white;
}
.about .cyan {
  border-top: 3px solid hsl(180, 62%, 55%);
}
.about .red {
  border-top: 3px solid hsl(0, 78%, 62%);
}
.about .blue {
  border-top: 3px solid hsl(212, 86%, 64%);
}
.about .orange {
  border-top: 3px solid hsl(34, 97%, 64%);
}

@media (min-width: 950px) {
  .about .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about .box-down {
    position: relative;
    top: 150px;
  }
  .about .box {
    width: 20%;
  }
}

.team{
    min-height: 90vh;
    background: #cfe8ff;
  }
  .team .teamtexta{
    font-family: "Poppins";
    font-weight: 700;
    margin-top: 2px;
    white-space: nowrap;
    font-size: 48px;
    display: flex;
    text-align: center;
    background: linear-gradient(91.02deg, #ff00f5 -1.44%, #0085ff 92.73%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .team {
    position: relative;
    display: flex;
    align-items: center;
    background: #cfe8ff;
  }
  
  .team .card {
    position: relative;
    background: #fff;
    border-radius: 20px;
    margin: 30px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  .team .card::before {
    content: "";
    position: absolute;
    height: 40%;
    width: 100%;
    border-radius: 20px 20px 0 0;
  }
  
  .team .card .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    z-index: 100;
  }
  
  .team .card .image {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    padding: 3px;
  }
  
  .team .card .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .team .card .media-icons i {
    color: black;
    opacity: 0.6;
    margin-top: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .team .card .media-icons i:hover {
    opacity: 1;
  }
  
  .team .card .name-profession {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  
  .team .name-profession .name {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }
  
  .team .name-profession .profession {
    font-size: 15px;
    font-weight: 500;
  }
  
  .team .swiper-pagination {
    position: absolute;
  }
  
  .team .swiper-pagination-bullet {
    height: 8px;
    width: 8px;
    border-radius: 25px;
    background: white;
  }
  
  .team .text {
    font-size: 18px;
    padding: 10px;
    margin: auto;
    text-align: center;
  }

